.tabulator-tableholder {
  // background-color: "blue";
  text-align: center;
}
.tabulator-tableholder {
  min-height: 30vw;
  // max-height: 50vw;
  overflow: auto;
  //   background-color: red;
  // color: green;
}

// .tabulator .tabulator-footer,
// .tabulator .tabulator-header .tabulator-col {
//   background-color: #9da1a9;
// }
